/* Navigasi.css */
.navbar {
    position: fixed;
    padding: 15px 0 15px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 1000;
    transition :all 0.2 ease;
    -webkit-transition: all 0.2 ease;
    -moz-transition: all 0.2 ease;
    -ms-transition: all 0.2 ease;
    -o-transition: all 0.2 ease;

}
.navbar.sticky {
    position: fixed;
    top: 0;
   transform: translateZ(0);
   width: 100%;
  }

.nav-link {
    position: relative;
    text-decoration: none;
    color: #fff; /* Sesuaikan warna teks sesuai kebutuhan */
    margin-right: 20px; /* Sesuaikan jarak antar link sesuai kebutuhan */
  }
  
  .nav-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff; /* Ganti warna garis bawah sesuai kebutuhan */
    transition: width 0.3s ease; /* Sesuaikan durasi animasi transisi */
  }
  
  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
  }